# ignore .pyc files
*.pyc
# ignore files from SIST project
SIST
analyse_chipseq
tests_analyses
# ignore virtualenv and others
venv
dossier_maiwenn
sauvegarde_mars23
env_test_package
MODIF_IMPORTANTE
.ipynb_checkpoints
.gitignore
recap_description.ods
dist
GRATIOSA.egg-info
