# ignore .pyc files
*.pyc
# ignore model files for the spacer project (Raphaël Forquet 2017-2021)
modeling_spacer
param
# ignore code from Raphaël Forquet 2017-2021
code_raphael_forquet_2017-2021
# ignore files from SIST project
SIST
# ignore virtualenv and others
venv